<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css"/>
	<title>Cool Carz</title>
  </head>

<body>
	<h1>Cool Cars Collection</h1>
	<div id="collect">
		<table>
			<thead>
			<th>Make</th>
			<th>Color</th>
			<th>Top Speed</th>
			<th>Body Style</th>
			<th>Buy Now!</th>
			</thead>
 		   <tr v-for="(cars, index) in collectArray" v-bind:class="{even: (index) % 2 !== 0,forSale: cars.forsale === true}">
			   <td>{{cars.name}}</td>
			   <td>{{cars.color}}</td>
			   <td>{{cars.speed}}</td>
			   <td>{{cars.style}}</td>
			   <td>{{cars.forsale}}</td>
			   <td><button v-on:click.prevent="deleteCar(cars)">Delete</button>
		   </tr>
		</table>
		<div id="form">
			<h2>Add your car!</h2>
			<form v-on:submit.prevent="addCar">
				<p><label>Name <input type="text" v-model="newName"/></label></p>
				<p><label>Color <input type="text" v-model="newColor"/></label></p>
				<p><label>Speed <input type="number" v-model="newSpeed"/></label></p>
				<p><label>Body Style<input type="text" v-model="newStyle"/></label></p>
				<p><label>Check yes if for sale <input type="checkbox" v-model="newSale"/></label></p>
			<button type="submit">Enter</button>
			</form>
		</div>
	</div>
	

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js"></script>
  </body>
</html>